<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Fido - Add Food</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-light_blue.min.css">  
    <link rel="stylesheet" href="css/swipebox.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="animsition">
      <!-- Page Content -->
      <main class="mdl-layout__content article">
        <div class="back">
          <a class="mdl-button mdl-js-button mdl-button--icon" href="/home">
            <i class="material-icons">arrow_back</i>
          </a>

<!-- Feed details form -->
<form action="/feed_save" method="post">

<p class="title margin-top-16">What did you eat?</p>
            <p>
              <label for="firstname" class="normal">Name of Food</label>
              <input type="text" class="normal" name="food" id="firstname" placeholder="" value="">
            </p>

<p class="title margin-top-16">Date Consumed</p>
            <p>
              <label for="firstname" class="normal">MM/DD/YYYY</label>
              <input type="number" class="normalpad" name="mm" id="month" placeholder="" value="">
              <input type="number" class="normalpad" name="dd" id="date" placeholder="" value="">
              <input type="number" class="normalpad" name="yy" id="year" placeholder="" value="">
            </p>

			<p class="title margin-top-16">Select food group</p>
			<p>
              <label class="normal"><img class="normal" src="images/select_group.jpg" alt=""></label>

              <input type="checkbox" name="ateGrains" value=1>Grains</input>
              <input type="checkbox" name="ateVegetables" value=1>Vegetables</input>
              <input type="checkbox" name="ateFruits" value=1>Fruits</input>
              <input type="checkbox" name="ateDiary" value=1>Diary</input>
              <input type="checkbox" name="ateProtein" value=1>Protein</input>
            </p>

       <p class="title margin-top-16">Enter Amount</p>
            <p>
              <label for="calories" class="normal">Calories</label>
              <input type="number" class="normal" name="cal" id="firstname" placeholder="" value="">
            </p>
			<p class="title margin-top-16">Select Mood Experienced</p>
			<p>
              <label class="normal">How are you feeling?</label>
              <select class="normal" name="mood">
                <option type="number" value="0">--</option>
                <option type="number" value="5">Happy ^_^</option>
                <option type="number" value="4">Satisfied :)</option>
                <option type="number" value="3">Apathetic :|</option>
                <option type="number" value="2">Sad :(</option>
                <option type="number" value="1">Disgusted >_<</option>
              </select>
            </p>
        <p class="title margin-top-32">Additional information</p>
            <textarea name="info" class="normal" id="message" placeholder="Some notes..." rows="2" cols="5"></textarea>
		 <input type="submit" id="submitBtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent border full margin-top-32" value="OM NOM!"></input>
</form>


      </main>
    </div>


  <!-- Script to get current date -->
  <script type="text/javascript">
    var today = new Date();
    var day = today.getDate();
    var month = today.getMonth()+1; //January is 0! That's why we're adding 1 to make Jan == 1
    var year = today.getFullYear();
  </script>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.js"></script>
    <script src="js/sweetalert.min.js"></script> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>
  </body>
</html>
