<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>History</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-light_blue.min.css">  
    <link rel="stylesheet" href="css/swipebox.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="animsition">
      
<!-- Header -->
      <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
        <header class="mdl-layout__header mdl-shadow--1dp bg-white">
          <div class="mdl-layout__header-row">
            <!-- Title -->
			
            <span class="mdl-layout-title">History</span>
            
          </div>
        </header>
        <!-- Sidebar -->
        <div class="mdl-layout__drawer">

          <!-- Top -->
          <div class="drawer-header">
            <img src="img/phtogenic_guy.jpg" alt="">
          </div>
          
          <!-- Main Navigation -->
          <nav class="mdl-navigation">
            <div class="mdl-collapse first">
                <a class="mdl-navigation__link mdl-collapse__button">
                    
                    <span>{{userData.2.email}}</span>
                </a>
                
            </div>
            <a class="mdl-navigation__link animsition-link" href="/home"><i class="material-icons">home</i><span>Home</span></a>
            <a class="mdl-navigation__link animsition-link" href="/vetp"><i class="material-icons">pets</i><span>Vetp</span></a>
           
			<a class="mdl-navigation__link animsition-link" href="/vet"><i class="material-icons">healing</i><span>Vet</span></a>
			<a class="mdl-navigation__link animsition-link" href="/activity"><i class="material-icons">history</i><span>History</span></a>
            <a class="mdl-navigation__link animsition-link" href="/shop"><i class="material-icons">shopping_cart</i><span>Shop</span></a>
            <div class="drawer-separator"></div>
            
            <div class="mdl-collapse">
                <a class="mdl-navigation__link mdl-collapse__button"><i class="material-icons">settings</i>
                    <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
                    <span>Account</span>
                </a>
                <div class="mdl-collapse__content-wrapper">
                  <div class="mdl-collapse__content mdl-animation--default" style="margin-top: -156px;">

                    <a class="mdl-navigation__link animsition-link" href="/logout_landing">Logout</a>
                    <a class="mdl-navigation__link animsition-link" href="/settings">Settings</a>
                  </div>
                </div>
            </div>
          </nav>
        </div>
        
        <!-- Page Content -->
        <main class="mdl-layout__content">

          
         <div class="tab-container bg-white">

          <span class="title">Today</span>
          <div class="card-header">
            <img src="images/sub-user.jpg" alt="">
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>sourdough toast</b> and felt <b>happy</b>!</p>
              <span class="light-text">100 Calories of <b>GRAINS</b></span>
            </div>
          </div>

          <div class="card-header">
            <img src="images/user.jpg" alt="">
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>strawberry yogurt</b> and felt <b>happy</b>!</p>
              <span class="light-text">70 Calories of <b>DAIRY</b></span>
            </div>
          </div>

          <div class="card-header">
            <div class="contact-user bg-red"><span>5</span></div>
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>fried chicken</b> and felt <b>disgusted</b>!</p>
              <span class="light-text">150 Calories of PROTEIN</span>
            </div>
          </div>


          <span class="title padding-top-32">Yesterday</span>

          <div class="card-header">
            <div class="contact-user bg-purple"><span>7</span></div>
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>protein bar</b> and felt <b>apathetic</b>.</p>
              <span class="light-text">180 Calories of PROTEIN</span>
            </div>
          </div>

          <div class="card-header">
            <img src="images/user.jpg" alt="">
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>bananas</b> and felt <b>Happy</b>!</p>
              <span class="light-text">80 Calories of FRUITS</span>
            </div>
          </div>

          


          <span class="title padding-top-32">November 7, 2016</span>

          <div class="card-header">
            <div class="contact-user bg-purple"><span>7</span></div>
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>protein bar</b> and felt <b>apathetic</b>.</p>
              <span class="light-text">180 Calories of PROTEIN</span>
            </div>
          </div>
		  <div class="card-header">
            <div class="contact-user bg-purple"><span>7</span></div>
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>protein bar</b> and felt <b>apathetic</b>.</p>
              <span class="light-text">180 Calories of PROTEIN</span>
            </div>
          </div>
		  <div class="card-header">
            <div class="contact-user bg-purple"><span>7</span></div>
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>protein bar</b> and felt <b>apathetic</b>.</p>
              <span class="light-text">180 Calories of PROTEIN</span>
            </div>
			
          </div>
		  <div class="card-header">
            <div class="contact-user bg-purple"><span>7</span></div>
            <div class="card-autor">
              <p>Mr. Peanutbutter ate <b>protein bar</b> and felt <b>apathetic</b>.</p>
              <span class="light-text">180 Calories of PROTEIN</span>
            </div>
          </div>
		  </div>
        </main>
      </div>
    </div>


    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.js"></script>
    <script src="js/sweetalert.min.js"></script> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>
  </body>
</html>
