<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Fido - Vet2</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

     <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-light_blue.min.css">  
    <link rel="stylesheet" href="css/swipebox.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="animsition">
      <!-- Header -->
      <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
        <header class="mdl-layout__header mdl-shadow--1dp bg-white">
          <div class="mdl-layout__header-row">
            <!-- Title -->
			
            <span class="mdl-layout-title">Veterinarian</span>
            
          </div>
        </header>
        <!-- Sidebar -->
        <div class="mdl-layout__drawer">

          <!-- Top -->
          <div class="drawer-header">
            <img src="images/user.jpg" alt="">
          </div>
          
             <!-- Main Navigation -->
          <nav class="mdl-navigation">
            <div class="mdl-collapse first">
                <a class="mdl-navigation__link mdl-collapse__button">
                    
                    <span>pet_enthusiast@email.com</span>
                </a>
                
            </div>
            <a class="mdl-navigation__link animsition-link" href="/home"><i class="material-icons">home</i><span>Home</span></a>
            <a class="mdl-navigation__link animsition-link" href="/profile"><i class="material-icons">pets</i><span>Profile</span></a>
           
      <a class="mdl-navigation__link animsition-link" href="/vet"><i class="material-icons">healing</i><span>Vet</span></a>
            <a class="mdl-navigation__link animsition-link" href="/shop"><i class="material-icons">shopping_cart</i><span>Shop</span></a>
            <div class="drawer-separator"></div>
            
            <div class="mdl-collapse">
                <a class="mdl-navigation__link mdl-collapse__button"><i class="material-icons">settings</i>
                    <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
                    <span>Account</span>
                </a>
                <div class="mdl-collapse__content-wrapper">
                  <div class="mdl-collapse__content mdl-animation--default" style="margin-top: -156px;">

                    <a class="mdl-navigation__link animsition-link" href="/logout_landing">Logout</a>
                    <a class="mdl-navigation__link animsition-link" href="/settings">Settings</a>
                  </div>
                </div>
            </div>
          </nav>
        </div>
        
        <!-- Page Content -->
        <main class="mdl-layout__content">

          
          <div class="profile-image">
            <img src="images/happy_doc.png" alt="">
            
          </div>

          <div class="page-header bg-white">
            <div class="breadcrumb">
              
            </div>
            <h1 class="page-title">Vet's Evaluation:</h1>
          </div>

          <div class="container padding-top-0 padding-bottom-32">
            <p id="vetComment">Vet's comments go here.</p> 
			<div class="padding-top-32"></div>
      
            
             <!--  <p>Remaining food groups:</p>             
              <div class="photo-add">
                <div class="square-user" id="icon_grains" src="images/grey_grains.png"></div>
                <div class="square-user" id="icon_veggies" src="images/grey_veggies.png"></div>
                <div class="square-user" id="icon_fruit" src="images/grey_fruit.png"></div>
                <div class="square-user" id="icon_dairy" src="images/grey_dairy.png"></div>
                <div class="square-user" id="icon_protein" src="images/grey_protein.png"></div>
                <div class="clr"></div>
              </div>
            
            <!-- </div>
              <span id="vetComment">Vet's comments go here.</span>
            </div>  -->

        <div class="account-data"> <!-- text fields -->
     
            
      <div class="padding-top-32"></div>
      
            <div class="card-autor">
              <p>Remaining food groups:</p>             
              <div class="photo-add">
                <div class="square-user" id="icon_grains" src="images/grey_grains.png"></div>
                <div class="square-user" id="icon_veggies" src="images/grey_veggies.png"></div>
                <div class="square-user" id="icon_fruit" src="images/grey_fruit.png"></div>
                <div class="square-user" id="icon_dairy" src="images/grey_dairy.png"></div>
                <div class="square-user" id="icon_protein" src="images/grey_protein.png"></div>
                <div class="clr"></div>
              </div>
            </div>
          
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary margin-top-32 right" href="/home">                
              LEMME SEE MY DOGGIE
            </a>
            <div class="clr"></div>
            
          </div>  
        </main>
      </div>
    </div>


    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.js"></script>
    <script src="js/sweetalert.min.js"></script> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
